/* Styling for the contents page */

body { 
  counter-reset: NUM-S 0 NUM-L 0 SEC 0; }  /* Initialize the Listing's & Figure's counter */ 

.sec_num1, .sec_num2, .list_num {
  font-size: 12pt;
}

.sec_num2:before {
  content: "Section " counter(NUM-S) ": \A0";
  counter-increment: NUM-S;
}

.disc {
  list-style: disc !important;
  margin-left: 10px;
}

.list_num {
  font-size: 14px;
}

.list_num:before {
  content: counter(NUM-L) ". \A0";
  counter-increment: NUM-L;
  display: inline-block;
  width: 30px;  
  text-align: right;  
}


#content-list li {
  list-style: none;
}
#content-list td {
  vertical-align:top;
}

.shaded-row_1{
  background-color: #F7FCFF;
}

.shaded-row_2{
  background-color: #FFFFF6;
}    

.padded-cell {
  padding: 5px 0 0 5px;
}
