
body {
  background-color: #f2f2f2;
  color: #67686e;
  /* font-family: "proxima-nova",sans-serif; */
  font-family: "cantarell",sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
}

header {
  /* background: linear-gradient(to bottom, #235c73 0%, #112d39 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); */
  background: linear-gradient(to bottom, #1A5D99 0%, #144477 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  color: #ffffff;
  margin: 0 0 50px;
  padding: 40px 0;
  width: 100%;
  margin-bottom: 30px;
}

footer {
  /* background: none repeat scroll 0 0 #1f3c49 !important; */
  border-bottom: medium none !important;
  border-top: medium none !important;
  clear: both;
  padding: 0 !important;
  width: 100%;
}

.site-footer {
  background-color: #144477;
  color: #ffffff;
  font-size: 12px;
  padding: 30px 0 20px;
}

.site-footer a {
  color: #7db5d2;
  text-decoration: none;
}

.site-footer a:after {
	content: " Faculty of Geo-Information Science and Earth Observation (ITC) of the University of Twente"
}

.site-footer a:hover {
  text-decoration: none;
  color: #FFFFFF !important;
}

.site-footer a:visited {
  color: #7db5d2;
}


.el_container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.el_container:before, .el_container:after {
  content: "";
  display: table;
  line-height: 0;
}

.el_container:after {
  clear: both;
}

.right {
  float: right;
  max-width: 50%;
  text-align: right;
}

.left {
  float: left;
  max-width: 50%;
  text-align: left;
}

#ut-logo  img, #itc-logo  img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-image: none;
  border-style: solid none;
  border-width: 1px 0;
  margin: 1.5em 0;
  color: #ffffff;
}

.pagination-nav hr {
  color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova",sans-serif;
  text-rendering: optimizelegibility;
  line-height: 1.2em;
  margin: 0 0 0.5em;
  color: #484951;
}

h1 {
  font-weight: 200;
  font-size: 48px;
  margin-bottom: 0.25em;  
}

h2 {
  font-weight: 300;
  border-bottom: 2px solid #dadada !important;
  font-size: 21px !important;
  padding-bottom: 5px !important;
  padding-top: 10px !important;
}

h3:before { 
  content: "Listing " counter(LIS) ". '";
  counter-increment: LIS;
}
h3:after { content: "'"; }

h3 {
  margin: 20px 0 -5px 10px;
  font-size: 12pt;
  font-family: Courier;
  color: #5D198E;
  text-align: center;
}

h4 {
  font-size: 1.28571em;
  font-weight: 500;
  line-height: 1em;
}

header h1 {
  color: #ffffff;
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

header h1 a:hover {
  text-decoration: none;
  color: #7db5d2;
}

h1.lab_sec:before  {
  content: "Section ";
}

a {
  color: #1B62A0;
  text-decoration: none;
}

a:hover, a:focus{
  /* color: #005B5B; */
  color: #082A7A;
  text-decoration: underline;
}

ul, ol {
  margin: 0 0 0.75em 15px;
  padding: 0;
}

#exercise_toc ol, #exercise_toc ul {
  list-style: none;
  margin-left: 5px;
}

li {
  line-height: 1.5em;
}

.tasks li{
  line-height: 150%;
  font-size: 11pt;
  padding-left: 10px;
  text-align: justify;
  color: #202020;
}

.sec_list:before {
  content: counter(SEC) " -\A0"; 	/* Print the list number */
  counter-increment: SEC;
  display: inline-block;
  width: 38px;  
  text-align: right;
}

.sec_list:hover:before {
  text-decoration: underline;
}

.sec_list_u:before {
  content: counter(SEC) " -\A0"; 	/* Print the list number */
  counter-increment: SEC;
  display: inline-block;
  width: 38px;  
  text-align: right;
}

#main_frame {
  margin: 0 auto;
  width: 1140px;
  line-height: 1.35em;
}

#main_frame h1{
  border-bottom: 3px solid #dadada !important;
  font-size: 32px !important;
  margin-top: 20px !important;
  padding-bottom: 5px !important;
}

#content_bar {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 10px;
  float: left;
  margin-bottom: 20px;
  padding: 10px 30px 30px;
  width: 820px;
}

#content_bar p {
  font-size: 11pt !important;
  line-height: 150%;
  text-align: justify;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;		
}

#right_bar {
  float: right;
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 0;
  width: 210px;
  font-size: 110%;
}

blockquote {
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #F0F0F0 #F0F0F0 #F0F0F0 #C41230;
  padding: 10px 20px 10px 20px;
  background-color: #FFFCF7;
  margin: 10px 30px 10px 30px;
  line-height:120%;
  text-align: justify;
  font-size: 10pt;
}

blockquote code , p code {
  color: #008587;
}

blockquote var, p var {
  color: #C41230;
  font-style: normal;
}

#content_bar p span {
  color: #1E90FF;
}
p span:before { content: '(' }
p span:after { content: ')' }

.fn {  /* class for file names */
  font-family: Courier New;
  font-style: normal;
  font-weight: bold;
}
.fn:before { content: '"'; }
.fn:after { content: '"'; }


.todo { color: #FF0000; }
.todo:before{ content: "TODO : --<[ \A0 "; }
.todo:after{ content: " \A0]>--"; }


/* -------------- */
/* figure control */
/* -------------- */
.fig_wrapper {
  width: 641px;
  margin: 30px auto 40px auto;
  font-size: 10pt;
}
label:before { 
  content: "Figure " counter(FIG) ". ";
  counter-increment: FIG;
}
label:after { content: "\A0" }
 
.collapsed { background: url("../images/menu-collapsed.gif") no-repeat scroll 5px 50% #ffffff; font-weight: normal}
.expanded { background: url("../images/menu-expanded.gif") no-repeat scroll 5px 50% #ffffff; font-weight: normal }
.hidden { display: none; }
.visible { display: block; }
.z20 { z-index:20; }
.z00 { z-index:0; }

input.toggle { display: none; }

div.toggle { 
  border: solid 1px #c8c8c8; 
  /* border-bottom: 0px; */
  margin: -5px 10px 5px 9px; 
  padding: 15px 10px 10px 10px;
  background: #FAFAFF; 
  /*position: absolute;*/
  z-index:10;
  -moz-box-shadow: 7px 7px 5px #999;
  -webkit-box-shadow: 7px 7px 7px #999; 
}

label.toggle { 
  cursor: pointer; 
  color: #DC143C; 
  border: solid 1px #c8c8c8; 
  margin-left: 20px; 
  padding: 0 5px 2px 20px;
  font-size: 14px;
}

div.collapsedline { border-top: solid 1px #c8c8c8; margin: -5px 10px 0 10px; }



/* ---------------- */
/* Syntax Highlight */ 
/* ---------------- */
.snippet {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
	font-size: 10pt;
}
.syntaxhighlighter td.code .line.alt1.highlighted{
  background-color: #E8E8E8 !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: white !important;
}
.syntaxhighlighter .line.alt2 {
   background-color: #F8F8F8 !important;
}
.syntaxhighlighter .value {
  color: #FF66FF !important;
}
.syntaxhighlighter .color1 {
  color: #FF0000 !important;
}
.syntaxhighlighter .string {
  color: #6495ED !important;  /* #3CB371 */
}
.syntaxhighlighter .comments {
  color: #228B22 !important;  /* #778899 */
}
.syntaxhighlighter .keyword {
  color: #0000FF !important; /* #7A96EA */
}
.js  .comments{
  color: #C3 !important; /* #C71585 */
}
.sql  .string{
  color: #8400C1 !important; 
}
.sql  .color2{
  color: #0080FF !important; /* #FF0000 */
}
.syntaxhighlighter  {
  overflow-y: hidden !important;
}
.frame { 
  border: 1px solid #999999; 
}

#callout-1 div.number15 code.plain:after,
#callout-2 div.number11 code.plain:after{
	content: "  <--- Make sure to also insert this comma in your code!!!" !important;
	color: #FF0000;
	font-style: oblique;
	font-weight: bold;
}

#callout-3 div.number9 code.comments:after{
	content: "  <--- Use your own User & Password!!!" !important;
	color: #FF0000;
	font-style: oblique;
	font-weight: bold;
}

#callout-3 div.number15 code.comments:after{
	content: "  <--- Use your own Schema!!!" !important;
	color: #FF0000;
	font-style: oblique;
	font-weight: bold;
}
