/* ------ */
/* Global */
/* ------ */
body {
  font-family:'Open Sans', sans-serif;
  background:#ffffff;
  color:#333333;
}
 
p {
  margin:5px 0;
  line-height:25px;
}
 
a {
  text-decoration:none;
  color:inherit;
  transition:color .5s ease;
}
 
a:hover {
  color:#9164d6;
}
 
strong {
  font-weight:bold;
}
 
hr {
  background-color:#D6D0C1;
  border:0;
  height:1px;
  margin:20px 0;
}
 
figcaption {
  line-height:25px;
  font-size:14px;
  width:200px;
}
 
figcaption strong {
  border-bottom:1px solid #D6D0C1;
  padding-bottom:10px;
  margin:10px 0;
  display:block;
}
 
 
/*------*/
/* Misc */
/*------*/
.clear {
  clear:both;
} 


/*--------*/
/* Header */
/*--------*/
.container {
  width:100%;
  padding:1px;
}
 
.container.header {
  background:rgba(241,235,250,0.2);
  height:auto;
}
 
header {
  position:relative;
  width:auto;
  max-width:900px;
  margin:0 auto 20px auto;
}
 
header h1 {
  margin:15px 0 0 0;
  font-size:55px;
  color:#0988c3;
  font-family:'Baumans', cursive;
}
 
header p {
  font-size:16px;
  color:#4A463B;
  margin-left:132px;
}


/*--------*/
/* Spacer */
/*--------*/
#spacer {
  width:auto;
  height:70px;
  background-color:#0a99db;
  position:relative;
  color:#fff;
  font-size:18px;
}
 
#spacer p {
  margin-top:22px;
  width:auto;
  position:absolute;
  left:50%;
  margin-left:-450px;
}


/*----------*/
/* Features */
/*----------*/
#featured_content {
  width:auto;
  max-width:900px;
  margin:80px auto;
  padding:50px 0 45px 0;
  text-align: center;
}
 
#featured_content article {
  display: inline-flex;
  width:250px;
  font-size:14px;
  margin: 0 10px;
  position:relative;
}
 
#featured_content article p {
  line-height:25px;
}
 
#featured_content article h3 {
  font-size:20px;
  padding-top: 140px;
  margin-bottom:10px;
}
 
#featured_content article img {
  position:absolute;
  top:20px;
  left:85px;
  transition: opacity .5s ease-in-out;
}
 
#featured_content article a:hover {
  color:#0a99db;
}
 
#featured_content article a:hover > img.top-icon {
  opacity:0;
}

/*--------*/
/* Footer */
/*--------*/
footer {
  margin-top:120px;
  position:relative;
  clear:both;
  width:auto;
  height:350px;
  background:#333333;
}
 
footer .rightlist img {
  width:80px;
}
 
footer .wrapper {
  line-height:25px;
  padding-top:30px;
}

footer .wrapper {
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  color:#ababab;
  width:auto;
  max-width:900px;
  margin: 0 auto;
}
