/* Chart Styles */


.sliderbox {
    fill: none;
    stroke-width: 1px;
    stroke: #dddddd;
}

.ts_lines, .sl_lines {
    fill: none;
    stroke-width: 1px;
}    

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}       

.brush .extent {
    stroke: #999999;
    fill: #CCCCCC;
    fill-opacity: .25;
    shape-rendering: crispEdges;
}

.ts_points, .sl_points {
    stroke: transparent;
    stroke-width: 6px;  
}

.ts_points {
    cursor: pointer;
}

.ts_points:hover {
    stroke: rgba(0,0,0, 0.2);
}      

.d3-tip {
    background: rgba(0,0,0, 0.1);
    padding: 5px;
    font-weight: bold;
    color: #696969; /* DimGrey */
}

.axis line {	
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
}


.pt_lines, .sp_lines {
    fill: none;
    stroke-width: 4px;
}    

.pt_points, .sp_points {
    fill: none;
    stroke-width: 0px;
}    

.pt_points {
    cursor: pointer;

}
.pt_points:hover {
    stroke: rgba(0,0,0, 0.2);
}      
