/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$panel-navigation-background-color: $base-color;
$panel-navigation-item-line-height: 60px;
$panel-navigation-item-text-color: #ADB3B8;