.box-60 {
    background-position: 60% 20px !important;
    width: calc(60% - 20px);
}

.box-40 {
    background-position: 40% 20px !important;
    width: calc(40% - 20px);
}

.box-100 {
    background-position: 100% 20px !important;
    width: calc(100% - 20px);
}

.ol-mouse-position {
    top: 0 !important;
    font-size: 12px;
}

