/*--- styles ---*/
/*--------------*/

.float-r{
  position: absolute; 
  bottom: 5px; 
  right: 5px;
}
.float-l{
  position: absolute; 
  bottom: 5px; 
  left: 5px;
}

.x-grid-row-summary {
  color: DimGray !important;
  background-color: GhostWhite !important;
}


/* Time Series */
  .hidden {display:none;} 

  .stid {
    font: 12px sans-serif;
  }
  .stline {
    fill: none;
    stroke-width: 1.5px;
  }
  .hgline {
    fill: none;
    stroke-width: 8px;
  }  
          
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .stline:hover, .stline-focus {
    fill: none;
    stroke-width: 2px;
  }        
  .axis line {  
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
  }
  
/* Map */
  a.olControlZoomIn, a.olControlZoomOut {
    background: none repeat scroll 0 0 rgba(109, 194, 255, 0.3) !important;
  }
 
  a.olControlZoomIn:hover, a.olControlZoomOut:hover {
    background: none repeat scroll 0 0 rgba(0, 140, 255, 0.3) !important;
  } 



.rfpoint {
  /* consider the stroke-with the mouse detect radius? */
  stroke: transparent;
  stroke-width: 6px;  
  cursor: pointer;
}
 
.rfpoint:hover {
  stroke: rgba(68, 127, 255, 0.3);
}
.stpoint {
  fill: MediumPurple;
  fill-opacity: .2;
  stroke: MediumPurple;
  stroke-width: 1.5px;
}
.stpoint:hover, .stpoint-focus {
  fill: Red;
  fill-opacity: .2;
  stroke: Red;
  stroke-width: 1.5px;
}

.stpoint_gaug {
  fill: MediumPurple;
  fill-opacity: .2;
  stroke: MediumPurple;
  stroke-width: 1.5px;
}
.stpoint_rain {
  fill: Green;
  fill-opacity: .2;
  stroke: Green;
  stroke-width: 1.5px;
}
.stpoint_gaug:hover, .stpoint_rain:hover, .stpoint-focus {
  fill: Red;
  fill-opacity: .2;
  stroke: Red;
  stroke-width: 1.5px;
}

.year-hidden {display:none;}
.hgpoint {
  fill: Red;
  fill-opacity: .3;
  stroke: Red;
  stroke-width: 0px;
}
.idpoint{
  font-weight: bold;
}


.d3-tip{
  background: rgba(255,255,255, 0.4);
  padding: 5px;
  font-weight: bold;
  color: DimGray;
}
